.image {
    border-radius: 10px;
}
.description {
    color: var(--white);
    opacity: 0.6;
}
.header-2 {
    width: 100%;
}
.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.item-1 {
    text-align: center;
    display: block;
    margin: auto;
    
}
@media(min-width: 769px) {
    .item-1 {
        width: 30%;
    }
    .item-2 {
        width: 67%;
        padding-left: 3%;
    }
}