
.buttons {
    margin: auto;
    margin-top: 3%;
    border-radius: 8px;
    background-color: var(--blue-500);
    color: var(--black);
    border: 2px solid;
    width: 200px;
    padding: 14px 40px;
    font-size: 20px;
    font-family: bold;
}
.buttons:hover {
    background-color: var(--black);
    color: var(--blue-500);
}
.location-info {
    list-style-type: none;
    text-align: center;
    color: var(--white);
    margin-top: 5%;
}
.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}
.header-2 {
    width: 100%;
}
.contact-info {
    text-align: center;
    color: var(--white);
}
.location-info {
    width: 100%;
} 
.contact-form {
    width: 100%;
    color: var(--white);
    background-color: var(--lighter-gray);
    border-radius: 8px;
    text-align: center;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
.form-element {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 1%;
}
.form-input {
    margin-bottom: 5%;
    font-size: 20px;
    width: 250px;
}
.div-form {
    width: 250px;
    text-align: center;
    margin: auto;
}
#message {
    height: 150px;
}
.div-btn {
    width: 100%;
    margin-bottom: 2%;
}
.btn-form {
    margin: auto;
    border-radius: 8px;
    background-color: var(--blue-500);
    color: var(--black);
    border: 2px solid;
    width: 125px;
    padding: 10px;
    font-size: 20px;
    font-family: bold;
}
.btn-form:hover {
    background-color: var(--black);
    color: var(--blue-500);
}
@media(min-width: 769px) {
    .form-input {
        width: 400px;
    }
    .div-form {
        width: 400px;
    }
    .btn-form {
        width: 200px;
    }
}