.course-list {
    color: var(--white);
}
.course-item {
    padding: 15px;
}
.description-item {
    color: var(--white);
    opacity: 0.6;
    padding-left: 15px;
}
.course-description {
    list-style-type: none;
}
@media(max-width: 414px) {
    .course-description {
        display: none;
    }
}
@media(min-width: 415px) {
    .course-description {
        display: contents;
    }
} 